	.content { margin: 0px auto;} 
		h1{ text-align:center; margin: 0 auto; padding:4%; font-family:Arial; font-size:35pt; color:#bd624c;}
		h2{ text-align:center; margin: 0 auto; padding:1%; font-family:Arial; color:#ed7b5f;}
		h3{ text-align:center; margin: 0 auto;  font-family:Arial; font-size:18pt; color:#8e4939;}
                h4 {color:#ffffff;}

		a{ text-decoration:none;font-weight:italic;color:#fbe4df;}
                p{ font-family:Arial;  text-align:center; font-family:Arial; padding-left:30px;padding-right:10px;color:#2f1813;}
		span{font-weight:bold}

                .header1 { width: 100%;  height: 130px; background-color: #f6bdaf; }  		 	
		.header2 {  width: 100%;  height: 55px; text-align:center; word-spacing:10px; background-color: #f9d7cf;}
                .header3 {  width: 100%;  height: 55px; text-align:center; word-spacing:10px; color:#ffffff;}   

		.m1 {  float: left; width: 10%;  height: 1430px;   text-align:center; font-family:Arial; background-color: #f6bdaf; color:#3d4761;} 
		.m2 {  float: left; width: 10%;  height: 1430px; text-align:center; font-family:Arial;} 

		.aside { float: left; width: 80%;  height: 1430px; background-color:#fdf1ef;} 
		.footer{ width: 100%;  height: 50px; clear:both;text-align:center; padding-top:10px;color:8e4939;} 
                #logo{ margin-top: 10px;}
		img{ margin-top:20px; border-style:double; border-width:5pt;}
                
		ol{font-family:Arial;list-style-type:upper-roman;padding-left:100px; color:#f6bdaf}
		table{font-family:Arial; margin: 0 auto;border-style:solid;border-width:2pt; border-color:#bf7979}

		td{border-style:solid;border-width:1pt;text-align:center; padding:5px; width:210px; background-color: #fbdfcf; border-color:#bf7979; color:#cc9e9e;}
  
                body {background-color:#ed7b5f;} 

                .gallery{margin:10px 50px; }
                .gallery img{width:230px; padding: 5px;}









